<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hello</title>
  </head>
  <body>
    <h1>hey</h1>
    <form action="/logout" method="post">
      {% csrf_token %}
      <input type="submit" value="log out">
    </form>
    <form action="/success" method="post">
      {% csrf_token %}
      <input type="submit" value="home">
    </form>
    <h2>{{trip.destination}}<br /></h2>
    <p>Planned by: {{trip.creator.first_name}} {{trip.creator.last_name}}<br /></p>
    <p>Description: {{trip.description}}</p> <br />
    <p>Travel date from:{{trip.dateto}}</p><br />
    <p>Travel date to: {{trip.datefrom}}</p><br />

    <h1>Other user's joining the trip: </h1>
    {% for member in trip.join.all %}
    <p>
      {{member.first_name}}
    </p>
    {% endfor %}
  </body>
</html>
